<ul class="menu-list">
  <li class="is-right"><a href="#const" class="is-active"><i class="fab fa-css3-alt"></i> CSS</a></li>
  <li><a href="#let" class="is-active"><i class="fab fa-js"></i> JS</a></li>
  <li><a href="#let" class="is-active"><i class="fab fa-html5"></i> HTML</a></li>
</ul>