<ul class="menu-list">

  <li class="is-right">
    <%= link_to root_path, class: 'is-active' do %>
      <i class="fas fa-home"></i> HOME
    <% end %>
  </li>
  <li class="is-right">
    <%= link_to user_root_path, class: 'is-active' do %>
      <i class="fas fa-user"></i> USER
    <% end %>
  </li>
  <li>
    <%= sign_in_or_out_tag class: 'is-active' do %>
      <i class="fab fa-js"></i> <%= sign_tag_string %>
    <% end %>
  </li>
  <li><a href="#let" class="is-active"><i class="fab fa-html5"></i> HTML</a></li>
</ul>