<ul class="menu-list">
  <li><span class="tag is-white is-medium">Lorem</span></li>
  <li><span class="tag is-white is-medium">Ipsum</span></li>
  <li><span class="tag is-white is-medium">Dolor</span></li>
  <li><span class="tag is-white is-medium">Animi</span></li>
  <li><span class="tag is-white is-medium">Eximi</span></li>
  <li><span class="tag is-white is-medium">Nullius</span></li>
  <li><span class="tag is-white is-medium">Oxipi</span></li>
  <li><span class="tag is-white is-medium">Vultus</span></li>
  <li><span class="tag is-white is-medium">Voluptatis</span></li>
  <li><span class="tag is-white is-medium">Exomarphis</span></li>
  <li><span class="tag is-white is-medium">Finimi</span></li>
  <li><span class="tag is-white is-medium">Aenigma</span></li>
  <li><span class="tag is-white is-medium">Arkham</span></li>
  <li><span class="tag is-white is-medium">Blue</span></li>
  <li><span class="tag is-white is-medium">Medium</span></li>
</ul>