<ul class="menu-list">
  <li>
      <span class="tag is-white is-medium">
        <%= link_to ingredients_path do%>
        <i class="fas fa-blender-phone"></i> Recipe
        <% end %>
      </span>
  </li>
  <li><span class="tag is-white is-medium">under construction</span></li>
</ul>