<% if notice %>
  <div class="notification is-primary">
    <%= notice %>
    <button class="delete"></button>
  </div>
<% end %>
<% if alert %>
  <div class="notification is-danger">
    <%= alert %>
    <button class="delete"></button>
  </div>
<% end %>
