<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-12">
        <div class="container content">
          <i class="is-large fab fa-discord"></i>
          <i class="is-large fas fa-code"></i>
          <h1 class="title">61st <em>R</em> youri kyoku</h1>
          <h2 class="subtitle">
            料理作らないかい?
          </h2>
          <a href="https://github.com/kkiyama117/Hinatan" target="_blank" class="button is-primary is-large">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
            <span>Github</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/header/notice_and_alert' %>
