<div class="column is-3">
  <aside class="is-medium menu">
    <p class="menu-label">
      categories
    </p>
    <%= render 'layouts/side_menu/category' %>
    <p class="menu-label">
      More to read...
    </p>
    <%= render 'layouts/side_menu/more_read' %>
  </aside>
</div>